<mat-card  class="example-card-main">

  <mat-card-title style="font-size: 20px; text-align: center; background-color: #668cff; ">Digial</mat-card-title>
  <div style="display: inline-flex;">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title style="font-size: 10px;">Environment Management</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="button-row" >
            <button mat-raised-button color="primary">June UAT1</button>
            <button mat-raised-button color="warn">Down</button>
          </div>
          <div class="button-row">
            <button mat-raised-button color="primary">July UAT3</button>
            <button mat-raised-button color="basic">Running</button>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image2"></div>
          <mat-card-title style="font-size: 8px; ">Incident Management
            <br>
            <br>
          <p style="font-size: 8px; text-align: center;">Upcoming Patch tasks:</p>
        </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="button-row2">
            <button mat-raised-button color="basic" style="width: 80px; height:17px;">PTSK000123455</button>
            <button mat-raised-button color="primary" style="width: 60px; height:17px;">25-Jun-2020</button>
          </div>
          <div class="button-row2">
            <button mat-raised-button color="basic" style="width: 80px; height:17px;">PTSK000123456</button>
            <button mat-raised-button color="primary" style="width: 60px; height:17px;">28-Jun-2020</button>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
    <div style="display: inline-flex;">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image1"></div>
          <mat-card-title style="font-size: 8px; ">Patch Management
            <br>
            <br>
          <p style="font-size: 8px; text-align: center;">Upcoming Patch tasks:</p>
        </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="button-row1">
            <button mat-raised-button color="basic" style="width: 80px; height:17px;">PTSK000123455</button>
            <button mat-raised-button color="primary" style="width: 60px; height:17px;">25-Jun-2020</button>
          </div>
          <div class="button-row1">
            <button mat-raised-button color="basic" style="width: 80px; height:17px;">PTSK000123456</button>
            <button mat-raised-button color="primary" style="width: 60px; height:17px;">28-Jun-2020</button>
          </div>
        </mat-card-content>
      </mat-card>
      </div>
  </mat-card>


